body {
    background-image: url('traductor.jpeg');
    background-size: cover; 
    background-repeat: no-repeat; 
   text-align: center;
}
/* Estilos para h1 */
h1 {
    color: white; 
    font-size: 48px; 
}

/* Estilos para h2 */
h2 {
    color: rgb(252, 0, 0); 
    font-size: 20px; 
}
#translateButton{
    margin-top: 10px;
    border-radius: 58px;
}
#textToTranslate{
    text-align: center;
    border-radius: 58px;
background: linear-gradient(145deg, #e6e6e6, #ffffff);
box-shadow:  20px 20px 41px #d9d9d9,
             -20px -20px 41px #ffffff;
}
label{
    color: #fa0000;
    font-size: 20px;
}
#translationResult{
    font-size: 20px;
    color: #d9d9d9;
}